.overview-container {
    margin: 5px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overview-header, .overview-section{
    width: 800px;
}

.blog-post-link{
    background-color: var(--color-white);
    padding: 5px 10px;
    margin: 10px 0;
    border-radius: 10px;
}

.blog-stats{
    font-size: 14px;
    margin-top: 5px;
}


.blog-title{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.blog-title h2{
    padding-right: 5px;
    margin: 0;
}

.author{
    color: var(--color-secondary);
}

.error-message{
    color: red;
}